[build]
  publish = "_site"
  command = "chmod +x ./scripts/netlify-build.sh && bash ./scripts/netlify-build.sh"
[build.environment]
  PHP_VERSION = "7.2"
  NODE_VERSION = "12.16"
  CECIL_ENV = "production"
  CECIL_CACHE_DIR = "/opt/build/cache/"
  CECIL_PHAR_URL = "https://github.com/Cecilapp/Cecil/releases/latest/download/cecil.phar"
  CSS_INPUT = "static/tailwind.css"
  CSS_OUPUT = "static/styles.css"
  #ALGOLIA_INDEX = "_site/algolia.json"

[context.deploy-preview.environment]
  CECIL_ENV = "preview"

[context.branch-deploy.environment]
  CECIL_ENV = "branch"

[[plugins]]
  package = "netlify-plugin-refresh-algolia"
    [plugins.inputs]
    appId = "PVTO81KCEC"
    indexName = "documentation"
