body {
  box-sizing:border-box;
  min-width:200px;
  max-width:980px;
  margin:0 auto;
  padding:0 45px 45px 45px;
}

.markdown-body h1 {
  margin-top: 0;
}

.entry:after {
  content: " | ";
}

.entry:last-child::after {
  content: "";
}

span a.active {
  font-weight: bold;
}

#menu {
  /*padding-bottom: .5em;*/
  text-align: right;
}