{% extends 'page.html.twig' %}

{% block content %}
<div class="dark:markdown-dark markdown-a:hover:no-underline markdown markdown-a:no-underline markdown-h2:m-0 markdown-h2:mb-4 max-w-(--breakpoint-md) mx-auto">
  {{ page.content }}
  <h3>Live example</h3>
  {{ html(asset('images/cecil-logo-1000.png'), attributes={alt: 'Cecil logo'}, options={responsive: true, formats: []}) }}
</div>
{% endblock %}