{% extends 'page.html.twig' %}

              {%- block content ~%}
              <div class="mb-1 text-sm text-slate-400 font-medium">{{ page.date|format_date('long') }}</div>
              <h1>{{ page.title }}</h1>
              {{ page.content }}
              {%- if page.github_release|default ~%}
              <blockquote>
                <a href="{{ page.github_release }}">{% trans %}Release notes on GitHub{% endtrans %}</a>
              </blockquote>
              {%- endif ~%}
              {%- endblock ~%}