/* Algolia search box */
.algolia-autocomplete {
  width: 100%;
  font-size: small;
  margin-bottom: 1rem;
}
.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
  padding: .5em 0 .5em .75em;
  background-color: unset;
  border-radius: 4px;
  @apply border-2 border-slate-400 dark:border-slate-500;
  @apply focus:border-blue dark:focus:border-white;
}
.algolia-autocomplete .aa-input {
  padding-left: 2rem;
}
.algolia-autocomplete .aa-input::placeholder {
  @apply text-slate-400;
}
.algolia-autocomplete .aa-hint {
  @apply text-blue dark:text-white;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  border-radius: 4px;
  border-top: 0;
  @apply bg-white dark:bg-dark;
  @apply border border-blue dark:border-white;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: .25em .5em .25em .5em;
  width: 100%;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  border-radius: 4px;
  @apply bg-gold dark:bg-black;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .aa-tpl-suggestion {
  padding-bottom: 10px;
  border-bottom: 0.1rem solid;
}
.search-container {
  display: block;
  position: relative;
  width: 100%;
  padding: 0.1rem;
}
.search-icon {
  position: absolute;
  top: 38%;
  left: .6rem;
  height: 1rem;
  width: 1rem;
  transform: translateY(-50%);
  @apply fill-slate-400;
}
.aa-tpl-title {
  font-weight: bold;
  font-size: 1.25em;
}
.aa-tpl-page {
  font-weight: bold;
  font-size: .75em;
  @apply text-slate-600 dark:text-slate-400;
}
.aa-tpl-footer {
  font-size: .75em;
  text-align: right;
  float: right;
  margin-right: 1em;
  padding: 0
}
