/* Buttons */
.btn {
  @apply flex flex-row gap-3 items-center justify-center;
  @apply py-2.5 px-6;
  @apply md:w-fit;
  @apply font-medium;
  @apply no-underline;
  @apply rounded-lg;
  @apply text-slate-950 dark:text-slate-100 bg-slate-300 dark:bg-slate-700;
  @apply border border-slate-300 dark:border-slate-700;
  &:hover {
    @apply text-white bg-blue dark:bg-black;
    @apply border-white dark:border-black;
  }
}
.btn-sm {
  @apply gap-2;
  @apply rounded-full;
  @apply py-1.5 px-3;
}
.btn-gold {
  @apply bg-gold dark:bg-gold text-darkblue dark:text-darkblue;
  @apply border-gold dark:border-gold;
  &:hover {
    @apply bg-white dark:bg-white text-darkblue;
    @apply border-white dark:border-white;
  }
}
.btn-trans {
  @apply bg-transparent dark:hover:bg-white text-white;
  @apply border-white;
  &:hover {
    @apply bg-white text-darkblue;
  }
}
