.copy-link {
  --height: 36px;
  --spacing: .25rem;
  display: flex;
  max-width: 400px;
  gap: calc(var(--spacing) * 2);
}
.copy-link-input {
  flex-grow: 1;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  outline: none;
  background: unset;
}
.copy-link-button {
  flex-shrink: 0;
  width: calc(var(--height) * .75);
  height: calc(var(--height) * .75);
  display: flex;
  align-items: center;
  justify-content: center;
  background: unset;
  color: #333333;
  outline: none;
  cursor: pointer;
  padding: 10px 10px 10px 0;
}
/*@media (prefers-color-scheme: dark) {
  .copy-link-button {
    color: #ffffff;
  }
}*/
