/* Terminal */
.shell-wrap {
  @apply overflow-hidden;
  @apply bg-black;
  @apply rounded-sm;
  @apply shadow-[0_0_30px_rgba(0,0,0,0.4)] dark:shadow-gray-600;
}
.shell-top-bar {
  @apply m-0;
  @apply text-[#525252] text-[0.65em] text-center text-shadow-[1px_1px_0_rgba(255,255,255,0.5)];
  @apply bg-linear-to-b from-[#f7f7f7] to-[#b8b8b8];
  @apply border-b-0 border-[1px_solid_#cccccc];
  @apply rounded-tl-sm rounded-tr-sm;
}
.shell-body {
  @apply m-0 p-0;
  @apply leading-normal font-mono font-light;
  @apply text-sm;
  @apply text-gray-300;
  @apply bg-black;
  @apply rounded-bl-sm rounded-br-sm;
}

/* Terminal buttons */
.termBtns {
  line-height: 11px;
  top: 1rem;
  left: 1rem;
  margin-bottom: 1rem
}
.termBtns>span {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  margin-right: 6px
}
.termBtns>span:first-child {
  background: #f35f56
}
.termBtns>span:nth-child(2) {
  background: #fce35f
}
.termBtns>span:nth-child(3) {
  background: #56cc7e
}
