@view-transition {
  navigation: auto;
}

@layer view-transitions {
  /*.page-transition[id] {
    view-transition-name: ident(attr(id));
    view-transition-class: page-transition;
  }*/

  ::view-transition-group(.page-transition) {
    animation-duration: 0.6s;
  }

  /*
  @media not (prefers-reduced-motion: reduce) {
    .page-transition { view-transition-name: TEST }
  }
  */
}
