<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script>
  var client = algoliasearch('PVTO81KCEC', 'd4f7a88b01ac073e9bb24dc264ead2dc');
  var index = client.initIndex('full');
  function newHitsSource(index, params) {
    return function doSearch(query, cb) {
      index
        .search(query, params)
        .then(function(res) {
          cb(res.hits, res);
        })
        .catch(function(err) {
          console.error(err);
          cb([]);
        });
    };
  }
  autocomplete('#search-input', { hint: false }, [
    {
      source: newHitsSource(index, { hitsPerPage: 5 }),
      displayKey: 'title',
      templates: {
        footer: '<span class="aa-tpl-footer">Powered by <a href="https://www.algolia.com" target="_blank" title="Algolia - Hosted cloud search as a service"><img src="/images/algolia.svg" width="47" height="15"></a></span>',
        suggestion: function(suggestion) {
          return '<div class="aa-tpl-title">' + suggestion._highlightResult.title.value + '</div>'
            + '<div class="aa-tpl-snippet">…' + suggestion._snippetResult.content.value + '…</div>';
        }
      }
    }
  ]).on('autocomplete:selected', function(event, suggestion, dataset, context) {
    console.log(event, suggestion, dataset, context);
    window.location.href = suggestion.href;
  });
</script>
