          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 text-blue dark:text-gray-300">
                {% import 'macros/octicons.twig' as octicons %}
                {{ octicons.svg(octicon) }}
              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium">
                {{ title }}
              </dt>
              <dd class="mt-2 text-sm">
                {{ description|markdown_to_html }}
              </dd>
            </div>
          </div>
