{# Variables: icon, title, description #}
            {%- import 'macros/octicons.twig' as octicons ~%}
            <div class="flex">
              <div class="shrink-0">
                <div class="flex items-center justify-center h-12 w-12 text-blue dark:text-slate-300">
                  {{ octicons.svg(icon, 16, 'w-12 h-12') }}
                </div>
              </div>
              <dl class="ml-4 md:ml-6">
                <dt class="text-lg leading-6 font-medium">
                  {{ title }}
                </dt>
                <dd class="mt-2 text-sm">
                  {{ description|markdown_to_html }}
                </dd>
              </dl>
            </div>