          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 text-blue">

                {% include 'partials/octicons/' ~ octicon ~ '.html.twig' ignore missing %}

              </div>
            </div>
            <div class="ml-4">
              <dt class="text-lg leading-6 font-medium">
                {{ title }}
              </dt>
              <dd class="mt-2 text-sm">
                {{ description|markdown_to_html }}
              </dd>
            </div>
          </div>
