            <div class="w-48">
              <ul class="list-reset">
                {%- for item in site.pages|filter_by('section','documentation')|sort_by_weight ~%}
                  {%- if item.id != 'documentation/index' ~%}
                <li>
                  <a href="{{ url(item) }}" class="menu-item block p-2 hover:bg-slate-200 dark:hover:bg-darkgray border-l-2 border-slate-200 dark:border-darkgray{% if url(page) == url(item) or url(page) == url(item)|trim('/') %} font-bold border-blue{% endif %}">{{ item.title }}</a>
                </li>
                  {%- endif ~%}
                {%- endfor ~%}
              </ul>
            </div>