    <!-- anchor -->
    <script src="{{ url('js/anchor.min.js') }}"></script>
    <script>{% filter minifyJS %}
      var selector = '.markdown-body > h2, .markdown-body > h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
      generateTableOfContents(anchors.elements);
      function generateTableOfContents(els) {
        if (document.getElementById('table-of-contents') == null) {
          return;
        }
        var anchoredElText,
          anchoredElHref,
          ul = document.createElement('UL');
        document.getElementById('table-of-contents').appendChild(ul);
        for (var i = 0; i < els.length; i++) {
          if (els[i].tagName == 'H2') {
            anchoredElText = els[i].textContent;
            anchoredElHref = els[i].querySelector('.anchorjs-link').getAttribute('href');
            addNavItem(ul, anchoredElHref, anchoredElText);
          }
        }
      }
      function addNavItem(ul, href, text) {
        var listItem = document.createElement('LI'),
          anchorItem = document.createElement('A'),
          textNode = document.createTextNode(text);
        anchorItem.href = href;
        ul.appendChild(listItem);
        listItem.appendChild(anchorItem);
        anchorItem.appendChild(textNode);
      }
      {% endfilter %}</script>
    <!-- fetch version -->
    <script>{% filter minifyJS %}
      const buttonId = 'download-button';
      const button = document.getElementById(buttonId)
      if (null !== button) {
        fetch('/VERSION')
          .then(response => {
            let version = response.text()
            if (!response.ok) {
              console.log('problem to fetch VERSION')
              version = 'X.X.X'
            }
            return version
          })
          .then(version => {
            console.log('VERSION: ' + version)
            text = document.getElementById(buttonId).innerHTML;
            document.getElementById(buttonId).innerHTML = text + ' <span class="counter">' + version + '</span>'
          })
      }
      {% endfilter %}</script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- highlight -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% include 'partials/googleanalytics.js.twig' %}
