            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/aligny</p>
              <div class="shell-body">
                <video data-src="{{ asset('videos/cecil-demo.mp4') }}" id="video-demo" width="100%" autoplay loop muted></video>
                <noscript>
                  <video width="100%" autoplay loop muted>
                    <source src="{{ asset('videos/cecil-demo.mp4') }}" type="video/mp4">
                    <p>Sorry, your browser doesn't support embedded videos.</p>
                  </video>
                </noscript>
              </div>
            </div>
            <script>{% apply minify_js %}
              if (window.matchMedia("(min-width: 768px)").matches) {
                console.log('Loading video');
                var video = document.getElementById('video-demo');
                video.src = video.getAttribute('data-src');
              }
            {% endapply %}</script>