            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/Narno/websites/</p>
              <div class="shell-body">
                <video width="100%" autoplay loop muted mute poster="{{ asset('cecil-demo.png')|url }}">
                  <source src="{{ asset('videos/cecil-demo.mp4')|url }}" type="video/mp4">
                  <p>Sorry, your browser doesn't support embedded videos.</p>
                </video>
              </div>
            </div>
