            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/Narno/websites/</p>
              <div class="shell-body">
{#<video src="{{ url('videos/cecil-demo.mp4') }}" width="100%" preload="auto" autoplay loop controls>Video...</video>#}
                <img src="{{ url('cecil-demo.png') }}" alt="Cecil demo in Terminal" style="max-width:100%;">
              </div>
            </div>
