            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/Narno/websites/</p>
              <div class="shell-body">
                <video width="100%" preload="none" autoplay loop muted mute>
                  <source src="{{ asset('videos/cecil-demo.mp4')|url }}" type="video/mp4">
                  <img src="{{ asset('cecil-demo.gif')|url }}" alt="Cecil demo in Terminal" style="max-width:100%;">
                </video>
              </div>
            </div>
