            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/Narno/websites/</p>
              <div class="shell-body">
                <video width="100%" preload="auto" autoplay loop>
                  <source src="{{ url('videos/cecil-cli-demo.mp4', {addhash:true}) }}" type="video/mp4">
                  <img src="{{ url('cecil-demo.png', {addhash:true}) }}" alt="Cecil demo in Terminal" style="max-width:100%;">
                </video>
              </div>
            </div>
