            <div class="mb-2">
              <strong>{% trans %}What's on this page{% endtrans %}</strong>
            </div>
            <div id="table-of-contents" class="toc">
              {{ page.body|toc(selectors=['h2']) }}
            </div>