            <div class="mb-2">
              <strong>{% trans "What's on this Page" %}</strong>
            </div>
            <div id="table-of-contents" class="toc">
              {% trans "Table of contents" ~%}
            </div>