        <div class="flex items-center space-x-2 mt-1">
          <span class="text-xs text-darkblue dark:text-slate-500">{% trans %}Light{% endtrans %}</span>
          <label for="toggle" class="w-8 h-4 flex items-center bg-slate-300 rounded-full p-1 cursor-pointer duration-300 ease-in-out dark:bg-slate-600">
            <div class="toggle-dot bg-white w-3 h-3 rounded-full shadow-md transform duration-300 ease-in-out dark:translate-x-3"></div>
          </label>
          <span class="text-xs text-slate-500 dark:text-white">{% trans %}Dark{% endtrans %}</span>
          <input id="toggle" type="checkbox" class="hidden" :value="darkMode" @change="darkMode = !darkMode"/>
        </div>