            <div class="shell-wrap">
              <p class="shell-top-bar">/Users/Narno/websites/</p>
              <div class="shell-body">
                <video src="{{ url('videos/cecil-demo.mp4') }}" width="100%" preload="auto" autoplay loop>
                  <img src="{{ site.gif }}" alt="Command line demo" style="width:100%;">
                </video>
              </div>
            </div>
