<div class="shell-wrap">
  <p class="shell-top-bar">/Users/Narno/websites/</p>
  <div class="shell-body">
    <img src="https://raw.githubusercontent.com/PHPoole/PHPoole/master/docs/phpoole.gif" alt="Command line demo" style="width:100%;">
  </div>
</div>
