{% extends 'page.html.twig' %}

{% block content %}
        {# content #}
        <div class="markdown markdown-sm lg:markdown dark:markdown-dark">
          <h3>{% trans "Sorry, page doesn't exist…" %}</h3>
          <p>→ <a href="{{ url(site.home) }}">{% trans "Home" %}</a></p>
        </div>
{% endblock content %}
