{% extends 'page.html.twig' %}

{% block content %}
        {# content #}
        <div class="prose prose-sm lg:prose">
          <h3>{% trans "Sorry, page doesn't exist…" %}</h3>
          <p>→ <a href="{{ url(site.home) }}">{% trans "Home" %}</a></p>
        </div>
{% endblock content %}
