{% extends 'page.html.twig' %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="four-fourths column markdown-body">
      <h3>Sorry, page doesn't exist...</h3>
      <p>➡ <a href="{{ url() }}">Home</a></p>
    </div>
  </div>
</div>
{% endblock content %}
