{% extends 'page.html.twig' %}

{% block content %}
        {# content #}
        <div class="prose prose-sm lg:prose">
          <h3>Sorry, page doesn't exist...</h3>
          <p>→ <a href="{{ url() }}">Home</a></p>
        </div>
{% endblock content %}
