{% extends 'page.html.twig' %}

{% block content %}
        {# content #}
        <div class="markdown max-w-(--breakpoint-md) mx-auto dark:markdown-dark markdown-headings:pt-3 markdown-headings:mt-0 markdown-h1:pt-0">
          <h3>{% trans %}Sorry, page doesn't exist…{% endtrans %}</h3>
          <p>→ <a href="{{ url(site.home) }}">{% trans %}Home{% endtrans %}</a></p>
        </div>
{% endblock content %}