<!DOCTYPE html>
<html lang="{{ site.language }}">
  <head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author.name }}">
    <title>{{ site.name }} - {{ page.title|title }}</title>
    <link href="{{ url() }}css/github-markdown.css" rel="stylesheet">
    <style>body{box-sizing:border-box;min-width:200px;max-width:980px;margin:0 auto;padding:45px;}</style>
    <!--[if lt IE 9]>
      <script src="{{ url() }}js/html5shiv.js"></script>
      <script src="{{ url() }}js/respond.min.js"></script>
    <![endif]-->
{% endblock head %}
  </head>
  <body>
    <div class="container markdown-body">
      {{ page.content }}
{% block footer %}
      <div id="footer">
        <hr />
        <p class="text-muted credit">&copy; <a href="{{ site.author.home }}">{{ site.author.name }}</a> {{ 'now'|date('Y') }} - Powered by <a href="{{ phpoole.url }}" title="Powered by {{ phpoole.poweredby }}">{{ phpoole.poweredby }}</a></p>
      </div>
{% endblock footer %}
    </div>    
{% block javascript %}
{% endblock javascript %}
  </body>
</html>
