{% extends 'page.html.twig' %}

{% block content %}
        <div class="mx-auto">
          <div class="markdown max-w-(--breakpoint-md) mx-auto dark:markdown-dark markdown-headings:pt-3 markdown-headings:mt-0 markdown-h1:pt-0">
            <p class="flex flex-col sm:flex-row sm:space-x-2 text-center sm:text-left">
              {#- Download ~#}
              {%- x:button with {id: 'download-button', href: url(site.release.name, {language: 'en'}), class: 'btn-sm', role: 'button'} ~%}
                {% trans %}Download{% endtrans %}
              {%- endx ~%}
              {#- SHA1 ~#}
              {%- x:button with {id: 'sha1-button', href: url(site.release.sha1, {language: 'en'}), class: 'btn-sm', role: 'button'} ~%}
                {% trans %}File checksum{% endtrans %}
              {%- endx ~%}
            </p>
            {{ page.content }}
          </div>
        </div>
{% endblock content %}

{% block footer_scripts %}
    {{- parent() ~}}
    {%~ include 'partials/version.js.twig' only ~%}
{% endblock footer_scripts %}