{% extends 'page.html.twig' %}

{% block content %}
        <div class="mx-auto">
          <div class="mx-auto max-w-screen-md markdown dark:markdown-dark">
            <p>
              <a id="download-button" class="btn btn-sm" href="{{ url(site.release.name) }}" role="button">{% trans %}Download{% endtrans %}</a>
              <a class="btn btn-sm" href="{{ url(site.release.sha1) }}" role="button">{% trans %}File checksum{% endtrans %}</a>
            </p>
            {{ page.content }}
          </div>
        </div>
{% endblock content %}

{% block footer_scripts %}
    {{ parent() }}
    {%~ include 'partials/version.js.twig' only ~%}
{% endblock footer_scripts %}