{% extends 'page.html.twig' %}

{% block content %}
    <a id="download-button" class="btn btn-sm" href="{{ url(site.release.name) }}" role="button">Download</a>
    <a class="btn btn-sm" href="{{ url(site.release.sha1) }}" role="button">File checksum</a>
    <p><hr /></p>
    {# content #}
    <div class="prose prose-sm sm:prose lg:prose-lg mx-auto">
      {{ page.content }}
    </div>
{% endblock content %}

{% block footer_scripts %}
{{ parent() }}
{% include 'partials/version.js.twig' only %}
{% endblock footer_scripts %}
