/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind base styles */
@layer base {
  main a:hover:not(.btn):not(.menu-item):not(.toc-link),
  footer a:hover {
    @apply underline;
  }
  a {
    @apply text-blue dark:text-white;
  }
  img, svg {
    @apply inline-block;
  }
  img {
    @apply mb-1;
  }
}

/* ToC */
.toc {
  position: -webkit-sticky;
  position: sticky;
  top: 15px;
}

/* Back to top */
@media screen and (prefers-reduced-motion: no-preference) {
  html, body {
    scroll-behavior: smooth;
  }
}
.back-to-top-wrapper {
  position: relative;
  pointer-events: none;
}
.back-to-top-link {
  position: fixed;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 3rem);
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5rem;
}
h1, h2 {
  @apply mb-4;
  @apply font-semibold;
}
h1 {
  @apply text-lg;
}
p {
  @apply mb-4;
}

header a {
  @apply text-gold;
}
.jumbotron {
  @apply bg-blue text-white px-6 py-10 md:py-20 text-xl text-center md:text-left font-medium dark:bg-gray-900;
}

/* Components */
.btn {
  @apply inline-block mb-2 py-3 px-6 no-underline border border-blue rounded;
}
a.btn {
  @apply no-underline;
}
a.btn:hover {
  @apply text-white;
}
.btn:hover {
  @apply bg-blue text-white border-transparent;
}
.btn-sm {
  @apply py-1 px-3;
}
.btn-gold {
  @apply bg-gold text-darkblue border-gold;
}
.btn-gold:hover {
  @apply bg-white text-darkblue border-transparent;
}
a.btn-gold:hover {
  @apply text-darkblue;
}
.btn-trans {
  @apply bg-transparent text-white border-white;
}
.btn-trans:hover {
  @apply bg-white text-darkblue;
}
a.btn-trans:hover {
  @apply text-darkblue;
}
a.docs-nav {
  @apply text-blue font-bold no-underline;
}

/* Terminal */
.shell-wrap {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.shell-top-bar {
  text-align: center;
  color: #525252;
  margin: 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 0.65em;
  border: 1px solid #cccccc;
  border-bottom: none;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #f7f7f7; /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f7f7f7),
    color-stop(100%, #b8b8b8)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #f7f7f7 0%,
    #b8b8b8 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #f7f7f7 0%,
    #b8b8b8 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, #b8b8b8 100%); /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, #b8b8b8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#B8B8B8',GradientType=0 ); /* IE6-9 */
}
.shell-body {
  margin: 0;
  /*padding: 5px;*/
  /*padding-top: 6px;*/
  padding: 0;
  background: #000000;
  /*background: #171717;*/
  /*background: #191919;*/
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
