{% extends '_default/list.html.twig' %}

{% block content %}
          {%- for p in pages -%}
          <div class="page">
            <h2 class="page-title">
              <a href="{{ url(p) }}">{{ p.title|e }}</a>
            </h2>
            {{ p.content|excerpt_html }}
          </div>
          {%- endfor -%}
    {%~ include 'partials/pagination.html.twig' ~%}
{% endblock content %}
