{% extends '_default/page.html.twig' %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'partials/docs-menu.html.twig' %}
    <!-- pages in "documentation" section -->
    <div class="three-fourths column markdown-body">
      <h1>Documentation</h1>
      <dl>
{% for doc in site.pages|filterBySection('documentation')|sortByWeight %}
        <dt><h2><a href="{{ url(doc) }}">{{ doc.title|e }}</a></h2></dt>
{% if doc.description is defined %}
        <dd>{{ doc.description|e }}</dd>
{% endif %}
{% endfor %}
      </dl>
    </div>
  </div>
</div>
{% endblock content %}
