{% extends 'page.html.twig' %}

{% block content %}
        {# content #}
        <div class="prose prose-sm sm:prose lg:prose-lg mx-auto">
          {%~ include 'partials/search-box.html.twig' ~%}
          <h1>Documentation</h1>
          <dl>
            {%- for doc in site.pages|filter_by('section','documentation')|sort_by_weight -%}
            <dt><h2><a href="{{ url(doc) }}">{{ doc.title|e }}</a></h2></dt>
              {%- if doc.description is defined -%}
            <dd>{{ doc.description|e }}</dd>
              {%- endif -%}
            {%- endfor -%}
          </dl>
        </div>
{% endblock content %}
