{% set title = "Documentation"|trans ~ ' &middot; ' ~ site.title %}

{% extends 'page.html.twig' %}

{% block content %}
        {#- content ~#}
        <div class="markdown markdown-a:no-underline hover:markdown-a:no-underline markdown-h2:mt-3 max-w-screen-md mx-auto dark:markdown-dark">
          {%~ include 'partials/search-box.html.twig' ~%}
          <h1>{% trans %}Documentation{% endtrans %}</h1>
          <p>{{ page.content }}</p>
          <div class="flex flex-wrap flex-row">
            {%- for doc in site.pages|filter_by('section', 'documentation')|sort_by_weight -%}
            <a href="{{ url(doc) }}" class="flex-auto w-96 hover:bg-gold group rounded-md p-2 dark:hover:bg-black">
              <h2>{{ doc.title|e }}</h2>
              <div class="pb-4{% if not loop.last %} border-b border-slate-200 group-hover:border-gold dark:border-black{% endif %}">
                {%- if doc.description is defined -%}
                {{ doc.description|e }}
                {%- endif -%}
              </div>
            </a>
            {%- endfor -%}
          </div>
        </div>
{% endblock content %}