{% extends 'index.html.twig' %}

{% block content %}
<div class="container">
  <div class="columns docs-layout">
    <!-- menu -->
{% include 'includes/docs-menu.html.twig' %}
    <!-- markdown -->
    <div class="three-fourths column markdown-body">
      <div id="table-of-contents">
        <strong>Table of contents</strong>
      </div>
      {{ page.content }}
{% if page.repository is defined and page.file is defined %}
      <a class="btn btn-sm btn-outline" href="{{ page.repository }}{{ page.file }}" role="button">
        <span class="octicon octicon-markdown"></span>
        Suggest a modification
      </a>
{% endif %}
      <!-- next page -->
{% if page.next is defined %}
{% set url = page.section ~ '/' ~ page.next %}
      <a class="btn btn-sm btn-outline right" href="{{ url(url) }}" role="button">
        Next
        <span class="octicon octicon-arrow-right"></span>
      </a>
{% endif %}
    </div>
  </div>
</div>
{% endblock content %}
